<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Token" value="ea6a7511091be1ec5808554e5dc3e53d788041de" />
    <add key="Endpoint_Generate" value="https://api.codenation.dev/v1/challenge/dev-ps/generate-data" />
    <add key="Endpoint_Submit" value="https://api.codenation.dev/v1/challenge/dev-ps/submit-solution" />
  </appSettings>
</configuration>